{
  "bigip_user":           "azadmin",
  "bigip_pass":           "BIGIP_SuperSecretAdminPass",

  "bigiq_user":           "azadmin",
  "bigiq_pass":           "BIGIQ_SuperSecretAdminPass",
  "bigiq_host":           "address BIG-IP should use to reach BIG-IQ License Manager if a PLS is not being used",

  "blob":                 "https://blob-storage-location.blob.core.windows.net/secure-container-name",
  "uai_name":             "user-assigned-identity-name (for secure container access)"
}
